@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Vujahday+Script&display=swap');

:root {
    --primary-color : #5F9EA0;
    --secondary-color : #FFFFFF;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
h1 {
    text-align: center;
}

.container {
    width: 40%;
    margin: auto;
}

